<!-- <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo left">Wishywash</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Support</a></li>
        <li><button data-target="modal2" class="btn js-modal-trigger waves-light ">
          <%= link_to 'Log Out',  destroy_user_session_path, :method => :delete %></button></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><%= link_to 'Profile',  destroy_user_session_path, :method => :delete %></li>
        <li><a href="#">Support</a></li>
        <li><button data-target="modal2" class="btn js-modal-trigger waves-light ">
          <%= link_to 'Log Out',  destroy_user_session_path, :method => :delete %></button></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div> -->

<h1>Your current orders</h1>

<ul>
	<% @orders.each do |order| %>
		<li><%= order.id %></li>
	<% end %>
</ul>
