<h1>Place your Order</h1>

<!-- tops section -->
	<div><%= image_tag("shirt.png", :alt => "shirt icon") %></div>
  <div style="height:150px; width:150px;">
 <div class="input-field col s9">
    <select class="js-orderSelect-dropdown" name="tops">
      <option value="" disabled selected>Pick Your Type</option>
      <option value="<%= @shirt.price %>">T-Shirt</option>
      <option value="2">Dress Shirt</option>
      <option value="3">Sweater</option>
      <option value="4">Polo</option>
    </select>
    <label>Tops - $2 each</label>
  </div>
		<div class="input-field col s6">
          <input placeholder="Number of ..." name="top_quantity" id="quan" type="text" class="validate">
          <label for="first_name">Quantity</label>
        </div>
   </div>
    <!-- tops section end -->

<!-- bottoms section -->
<div><%= image_tag("pants.png", :alt => "pants icon") %></div>
<div style="height:150px; width:150px;">
 <div class="input-field col s9">
    <select class="js-orderSelect-dropdown" name="bottoms">
      <option value="" disabled selected>Pick Your Type</option>
      <option value="1">Jeans</option>
      <option value="2">Dress Pants</option>
      <option value="3">Skirt</option>
      <option value="4">Shorts</option>
    </select>
    <label>Bottoms - $4 each</label>
  </div>
  		<div class="input-field col s6">
          <input placeholder="Number of ..." id="bottom_quantity" type="text" class="validate">
          <label for="first_name">Quantity</label>
        </div>
	</div>
	<!-- bottoms section end -->

<!-- dress section -->
<div><%= image_tag("dress.png", :alt => "dress icon") %></div>
<div style="height:150px; width:150px;">
 <div class="input-field col s9">
    <select class="js-orderSelect-dropdown" name="dresses">
      <option value="" disabled selected>Pick Your Type</option>
      <option value="1">Dress</option>
    </select>
    <label>Dress - $6 each</label>
  </div>
  		<div class="input-field col s6">
          <input placeholder="Number of ..." id="dress_quantity" type="text" class="validate">
          <label for="first_name">Quantity</label>
        </div>
</div>

<!-- dress section end -->

<div class="js-total-price"></div> 

	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    	<i class="material-icons right">send</i>
    </button>