<h5 class="center">Customize Your Order</h5>

<div class="container">
  <div class="row item-row">
      <div class="col s12 m4 center item-order-card">

<!-- tops section -->
  <form action="/orders" method="post">
   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
   
	<div><%= image_tag("shirt.png", :alt => "shirt icon") %></div>
  <div class="center">
 <div class="col s6 center">
    <div><h5>Tops $1</h5></div>
  </div>
		<div class="input-field col s5">
          <input placeholder="Number of.." name="top_quantity" type="text" class="js-quantity_validate topQuantity">
          <label for="first_name">Quantity</label>
        </div>
   </div>
    <!-- tops section end -->
    </div>


<div class="col s12 m4 center item-order-card">
<!-- bottoms section -->
<div><%= image_tag("pants.png", :alt => "pants icon") %></div>
<div class="center">
 <div class="col s6 center">
    <div><h5>Bottoms $3</h5></div>
  </div>
  		<div class="input-field col s5">
          <input placeholder="Number of.." name="bottom_quantity" type="text" class="js-quantity_validate bottomQuantity">
          <label for="first_name">Quantity</label>
        </div>
	</div>
	<!-- bottoms section end -->
  </div>

<div class="col s12 m4 center item-order-card">
<!-- dress section -->
  <div><%= image_tag("dress.png", :alt => "dress icon") %></div>
  <div class="center">
   <div class="col s6 center">
      <div><h5>Onepiece $5</h5></div>
    </div>
    		<div class="input-field col s5">
            <input placeholder="Number of.." name="onepiece_quantity" type="text" class="js-quantity_validate onepieceQuantity">
            <label for="first_name">Quantity</label>
          </div>
  </div>
<!-- dress section end -->
</div>

</div>
</div>

 <div class="row">
      <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Total:</h4>
          <div class="js-total-price"></div> 
          <button class="btn waves-effect waves-light" type="submit" name="action">Place Order
          </button>
          </form>
      </div>
  </div>


