<!-- nav -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo left">Wishywash</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Support</a></li>
        <li><button data-target="modal1" class="btn js-modal-trigger waves-light">Sign Up</button></li>
        <li><button data-target="modal2" class="btn js-modal-trigger waves-light">Log In</button></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">How it Works</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" class="waves-effect waves-light btn">Sign In</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav><!-- nav end -->

	
	<div class="row">
      <div class="col s9">Map</div>
      <div class="col s3">Filter</div>
    </div>



