<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Wishywash</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body> -->

<!-- parallax banner -->

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center grey-text text-darken-2 left"></h1>
        <div class="row">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><%= image_tag "smilelaundry.jpg", class: "header_image", alt: "laundry image"%></div>
    <!-- bottom transparent box -->
    <div class="get-started"><div class="get-started-content center"><div class="tag-line">Wish Your Laundry Away</div><a class="waves-effect waves-light btn">Learn More</a></div></div>
  </div>
<!-- parallax banner end -->

  <div class="container">
      <!--   1-2-3 image Section   -->
      <div class="row">
        <div class="col s12 center image1-2-3">
          <%= image_tag "1-2-3-image.png", class: "123", alt: "3steps" %>
        </div>
      </div>
  </div>

  <div class="container info-container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Wish Your Laundry Away in Less Than 5 Minutes</h4>
          <p class="left-align light">Laundry takes too much time! Wishywash lets you connect to people nearby to help so you can save time on your garment care and laundry.  Every aspect of cleaning your clothes, including Wash & Fold, Hang Dry, Hand Wash, Large Items – all accepted.  Our simple system takes the time out of laundry, so you can get back to more important things.  Laundry has never been this easy!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Wish Your Laundry Away.  Be Happy</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "smilelaundry.jpg", class: "header_image", alt: "laundry image"%></div>
  </div>

  <!--  Scripts-->
<!--   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>

  </body>
</html> -->
