// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-order-card {
	padding: 15px;
}

.item-row {
	margin:7%;
}


.order-name, 
.due-date {
	display: block;
}

.completeOrder-btnStyle {
	float:right;
	
}

.list-Ordercard {
	
}